.row
	.col-md-4 &nbsp;
	.col-md-4
		.panel.panel-primary
			.panel-heading
				h3.panel-title SignIn
			.panel-body
				form.form(name="signinForm")
					.form-group
						label.control-label Email
						input.form-control(type="email",required,name="username",ng-model="Form.username")
						.form-group
							label.control-label Password
							input.form-control(ng-minlength="8",requreid,type="password",name="password",ng-model="Form.password")
				.well.clearfix
					.btn-group.pull-right
						button.btn.btn-primary(ng-disabled="signinForm.$invalid", ng-click="signIn()") Sign In
