
<div class="row">
  <div class="col-md-4">&nbsp;</div>
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">SignIn</h3>
      </div>
      <div class="panel-body">
        <form name="signinForm" class="form">
          <div class="form-group">
            <label class="control-label">Email</label>
            <input type="email" required="required" name="username" ng-model="Form.username" class="form-control"/>
            <div class="form-group">
              <label class="control-label">Password</label>
              <input ng-minlength="8" requreid="requreid" type="password" name="password" ng-model="Form.password" class="form-control"/>
            </div>
          </div>
        </form>
        <div class="well clearfix">
          <div class="btn-group pull-right">
            <button ng-disabled="signinForm.$invalid" ng-click="signIn()" class="btn btn-primary">Sign In</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>