html(ng-app="photoshareApp" ng-controller="mainCtrl")
  head
    script(src="bower_components/jquery/dist/jquery.min.js")
    script(src="bower_components/angular/angular.min.js")
    script(src="//cdn.backand.net/backand/dist/1.6.0/backand.min.js")
    script(src="bower_components/bootstrap/dist/js/bootstrap.min.js")

    script(src="bower_components/angular-classy/angular-classy.min.js")
    script(src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js")
    script(src="bower_components/angular-cookies/angular-cookies.min.js")
    script(src="bower_components/angular-resource/angular-resource.min.js")
    script(src="bower_components/angular-route/angular-route.min.js")
    
    link(rel="stylesheet", href="bower_components/bootstrap/dist/css/bootstrap.min.css")

    script(src="app/app.js")
    script(src="app/routes.js")
    script(src="app/modelService.js")
    script(src="app/mainCtrl.js")
    // PhotoShare Controllers
    script(src="app/SignIn/auth.js")
    script(src="app/Home/index.js")
    script(src="app/Estado/index.js")

    title(ng-bind="pageTitle")
  body
    .container
      .pageHeader 
        h3 {{pageTitle}}
      div(ng-view)
