
<html ng-app="photoshareApp" ng-controller="mainCtrl">
  <head>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="//cdn.backand.net/backand/dist/1.6.0/backand.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular-classy/angular-classy.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <script src="app/app.js"></script>
    <script src="app/routes.js"></script>
    <script src="app/modelService.js"></script>
    <script src="app/mainCtrl.js"></script>
    <!-- PhotoShare Controllers-->
    <script src="app/SignIn/auth.js"></script>
    <script src="app/Home/index.js"></script>
    <script src="app/Estado/index.js"></script>
    <title ng-bind="pageTitle"></title>
  </head>
  <body>
    <div class="container">
      <div class="pageHeader"> 
        <h3>{{pageTitle}}</h3>
      </div>
      <div ng-view="ng-view"></div>
    </div>
  </body>
</html>